@import url("https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Rawline";
  font-size: 1rem;
  line-height: 1.5;
  padding: 50px; }

button:disabled {
  opacity: 0.5; }

a, button {
  margin: 5px; }
